html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btns_div{
    display:flex;
    justify-content:center;
}

.btns_div button{
   padding:20px 10px;
   margin:0px 8px;
   border:none;
   font-family:Roboto;
   background:#cf1733;
   color:#fff;
   border-radius:3px;
}

.header{
    display:flex;
    justify-content:center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
